.a1{
    color: dimgray;
    text-shadow:2px 3px gold;
    text-align: center;
}
.a2{
    box-shadow: 2px 3px 2px 3px forestgreen;
    text-align: center;
    color: fuchsia;
    width: 300px;
    height: 100px;
}